button,
input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  background-color: #3b98ab;
  border: 1px solid #3b98ab;
  border-radius: 4px;
  padding: 8px 12px;
  font: 14px/18px Arial, Helverica, sans-serif;
  color: #fff;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear, color 0.1s linear, width 0.2s ease;
  transition: background-color 0.1s linear, color 0.1s linear, width 0.2s ease;
}

button[disabled],
input[type="submit"][disabled] {
  background: #a0d4de;
  border-color: #a0d4de;
  cursor: default;
}

button .promise-btn__spinner-wrapper {
  display: inline-block;
  margin: -8px 0;
}

.site-footer {
  display: flex;
  justify-content: space-between;
}